*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #000000;
}

h1 {
    display: none;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
}


/************************************************************
                    Header 
************************************************************/

/* Navbar */ 
.logo {
    width: 20rem;
}
#main-nav {
    background-color: #89FC00;
    height: 15vh;
}

.dropdown-custom {
    background-color: #89FC00;
}

.input-navbar {
    border: none;
}


/**************************************************************
                    Main
***************************************************************/

/**************************************************************/
/****************************** Home page *********************/

/* Slogan section */ 

.img-slogan {
    background: url('public/Assets/images/photos/dumbbell-man.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
    padding: 250px 0 200px 0;
}

.slogan {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw; 
}

.chevron-icon {
    color: #000000;
    max-width: 2vw;
    max-height: auto;
}

.separator-line {
    background-color: #E0E0DB;
    height: 1px;
}


/* Statistics section  */ 

.statistics-card {
    background-color: #89FC00;
    border: none;
    width: 20rem;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.card-icons {
    height: 15vh;
}


/* Courses section */ 

#courses {
    background-color: #2A2829;
}

.title-carousel {
    color:#89FC00;
}

.control-btn {
    width: 50px;
    height: 50px;
    color:white;
    background-color: #000000;
}


/* Become a Partner section */ 

.partner-card {
    background-color: #89FC00;
    border:none;
    width: 26rem;

}

.btn-partner {
    background-color: #000000;
    width: 100px;
}

/**************************************************************/
/************************** Login page ***********************/

.login {
    width: 100%;
    height: 70vh; 
    min-width: 100%;
    min-height: 100%;
	background-image: url('public/Assets/images/photos/room.png');
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.login-structure, .login-partner, .login-brand {
    height: 11vh;
    background-color:  #000000; 
}

h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 700;
    color:#89FC00;
}

.form-container {
    max-width: 50vh;
    border-radius: 10px;
	background-color: #000000;
    opacity: 0.9;
	padding: 4vh 8vh 3vh 8vh;
	margin: 7vh auto 7vh auto;
    color:#F7F5F3;
    -webkit-box-shadow: -1px 1px 30px -11px white;
    box-shadow: 12px 12px 22px white
}

input {
    border:none;
    outline:none;
}

.btn-login {
    background-color: #89FC00;
}

.btn-login:hover {
    background-color:  #2A2829;
    color: white;
}

.createAccountLink {
    font-size: 14px;
}

/**************************************************************/


/***************************************************************
                    Footer 
****************************************************************/

/* Footer  */ 

.footer-custom {
    background-color: #E0E0DB;
    height: 15vh;
    color: #000000;
}

footer a {
    color: #000000;
}

footer a:hover {
    color: #89FC00;
    text-decoration: none;
}


/*****************************************************************
                    Media queries 
******************************************************************/


@media screen and (min-width: 280px) and (max-width: 1200px) {

    /* Home page */ 
    .logo {
        width: 10rem;
    }
    .menu-link {
        color: white!important;
    }
    h2 {
        font-size: 2rem;
    }
    .img-slogan {
        display: none;
    }
    .card-title  {
        font-size: 1.5rem;
    }
    .statistics-card, .partner-card {
        width: 19rem;
    }
    .card-icons {
        height: 12vh;
    }

    /* Login page */ 
    h3 {
        font-size: 1.5rem;
    }
    .form-container {
        padding: 3vh 4vh;
        margin: 5vh 7vh 5vh 7vh;
    }
        
    /* Footer  */ 
    .footer-custom {
        font-size: 16px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1200px) {

    /* Home page */ 
    .logo {
        width: 20rem;
    }
    .title-carousel {
        font-size: 1.5rem;
    }
    .menu-link {
        color: #000000!important;
    }
}


@media screen and (min-width: 1020px) and (max-width: 1200px) {

    /* Login page */ 
    .login {
        height: 90vh;
    }
  
}
  
