.profil {
    height: 70vh; 
    min-width: 100%;
    min-height: 100%;
	background-image: url('../Assets/images/photos/tatoo-woman.png');
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.profil-title {
    height: 11vh;
    background-color:  #000000; 
}

#structure {
    height: 60vh;
}

.card-container {
    width: 50vh;
    max-width: 50vh;
    border-radius: 10px;
	background-color: #000000;
    opacity: 0.9;
	padding: 2vh;
	margin: auto;
    color:#F7F5F3;
    -webkit-box-shadow: -1px 1px 30px -11px white;
    box-shadow: 12px 12px 22px white
}


/* Toggle switch */ 
.toggleSwitch {
    background-color:#000000;
    height: 20px;
    width: 40px;
    position: relative;
    
}

.box {
    height: 100%;
    width: 100%;
    margin: 0;
    opacity:0;
}

.colorLayer {
    background-color: white;
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    transition: 150ms linear;
}

.switch {
    height: 100%;
    width: 50%;
    background-color: #89FC00;
    position: absolute;
    top:0;
    left:0;
    border:1px solid white;
    border-radius: 25px;
    transition: 150ms ease-in;
}

/* changement de couleur si c'est checked : ça prend les 2 */ 
.box:checked ~ .colorLayer {
    background: white;
}

/* switch de gauche à droite */ 
.box:checked ~.switch {
    transform: translateX(20px);
}

/* switch de droite à gauche (quand elle n'est pas checked )  */ 
.box ~.switch {
    transform: translateX(0px);
}


/* info structure */ 
ul {
    list-style: none;
}

.card-info {
    border:none;
    border-radius: 10px;
}


/* **************************************************************
                    Partner profil 
******************************************************************/

.partnerInfo-bg {
    height: 70vh; 
    min-width: 100%;
    min-height: 100%;
	background-image: url('../Assets/images/photos/man-dumbells3.png');
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.card-struct {
    border-radius: 10px;
	background-color: #000000;
    opacity: 0.9;
    border: 1px solid white;
    color:#F7F5F3;
    -webkit-box-shadow: -1px 1px 30px -11px white;
    box-shadow: 12px 12px 22px white
}

.customSwitch {
    background-color: #89FC00;
}

/** Pagination **/

.page-link {
    background-color: #000000;
    border: 1px solid  #2A2829;
}
.page-link:hover {
    background-color: #89FC00;
}


/*****************************************************************
                    Media queries 
******************************************************************/


@media screen and (min-width: 280px) and (max-width: 1200px) {
    .profil {
        height: 90vh; 
    }
    .profil-structure {
        height: 12vh;
    }
}